*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	font-size: 10px;
	font-family: "Roboto Cn", sans-serif;
}
a{
	text-decoration: none;
}
.nav_bar{
	background-color: black;
	padding: 0.8rem 0.8rem;
	display: flex;
/*	justify-content: space-between;*/
	align-items: center;
} 

.nav_bar .nav_rwd{
	margin: 0 0.8rem;
	display: none;
}

@media screen and (max-width: 600px) {
  .ul_class{
  	position: absolute;
  	left: 0px;
  	height: 92vh;
  	top: 6.5vh;
  	background-color: black;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	width:50%;
  	transform: translateX(-100%);
  	transition: transform 0.5s ease-in;
  }
/*  .ul_class li{
  	opacity: 0;
  }*/
  .nav_bar .nav_rwd{
  	flex-grow: 8;
    display: block;
  }
}
.ul-active{
	transform: translateX(0%);
}

.nav_bar a{
	font-size: 2.4rem;
	/*text-transform: uppercase;*/
	color: white;
}
.nav_bar .nav_logo{
	margin-right: 0.5rem
}
.nav_bar .nav_list a{
	font-size: 1.6rem;
	padding: 0 0.8rem;
}
.nav_bar .nav_list{
	flex-grow: 8;
}
.nav_bar .nav_list ul{
	display: flex;
	list-style: none;
}
.nav_bar .nav_list ul li{
}
.nav_bar .nav_list ul li a:hover, .nav_bar .nav_list ul li a:focus{
    border-radius: .8em;
    background-color: lightgray;
}
.nav_bar .nav_login{
	display: flex;
}
.nav_bar .nav_login div{
	border: 2px solid white;
    border-radius: .3em;
    background-color: black;
    margin: 0 0.3rem;
}

.nav_bar .nav_login div:hover{
	background-color: lightgray;
}

.nav_bar .nav_login a{
	font-size: 1.6rem;
	padding: 0 0.5rem;
}

/*------------------------------*/

.home_section{
	background-image: url("../image/511.jpg");
	background-color: #ccccc0;
  	height: 500px;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	position: relative;
}
